html {
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  margin: .5em;
}

.inset-left {
  float: left;
  width: 40%;
  margin-right: 10px;
  margin-left: 1px;
}

.inset-right {
  float: right;
  width: 40%;
  clear: right;
  margin-right: 10px;
  margin-top: 10px;
}

.inset-left-2 {
  padding: 0;
  float: left;
  width: 25%;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: left;
}

header {
  background-color: #cd5b34;
  color: white;
  display: block;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
  text-align: center;
}

.p2 {
  clear: left;
}

nav {
  overflow: hidden;
  margin: 0;
  clear: left;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
  float: left;
  width: 33.33%;
  border: 1px solid #a93f35;
  padding: 0.5em;
}

nav a {
  padding: 0.5em;
  margin: 0.20em;
  color: #fff;
  text-decoration: none;
  font-family: 'Merriweather';
}

nav li:hover {
  background-color: #a93f35;
}

.bottom {
  list-style: none;
  clear: right;
}

div {
  margin: 0em;
  color: white;
  background-color: #dc8252;
  overflow: hidden;
  border-top: 1px solid #d05c2e;
  border-bottom: 1px solid #d05c2e;
  clear: right;
}

.corn {
  width: 100%;
  border: 0;
}

.corn-info {
  text-align: center;
  font-style: italic;
  color: white;
  margin: 0;
  padding-bottom: 1.5em;
}

.rice-info {
  margin: 0;
  padding-top: 0.1;
  padding-bottom: 1.5;
  float: left;
  width: 50%;
  font-style: italic;
  text-align: center;
  color: #fff;
}

.oats-info {
  width: 50%;
  float: right;
  padding: 0;
  border: 0;
}

.oats {
  margin: 0;
  padding-top: 0.1;
  padding-bottom: 1.5;
  float: left;
  width: 50%;
  font-style: italic;
  text-align: center;
  color: #fff;
}

.inset-rice {
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  border: 1px solid #cccccc;
}

h2 {
  text-align: center;
}

footer {
  background-color: #d05c2e;
  color: #dc8252;
  text-align: center;
  padding: 1;
  margin: 0;
  clear: both;
  font-size: 0.75rem;
}

.grain-left {
  float: left;
  width: 8%;
  margin: 10px;
  border: 0;
}

.grain-right {

  float: right;
  width: 8%;
  margin: 10px;
  border: 0;
}
